body {
  font-family: "PT Sans "Arial", serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: black;
}

h1 {
  font-family: "PT Sans "Arial", serif;
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  color: black;
}

h2 {
  font-family: "PT Sans "Arial", serif;
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  color: black;
}
